
.flag{
height: 300px;
width: 550px;
border: 1px solid black;

}
.a {
    background-color: #fdb913;
    height: 100px;

}
.b{
    background-color: #006a44;
    height: 100px;
}
.c{ 
    background-color: #c1272d;
    height: 100px;
}